<form [formGroup]="form" (ngSubmit)="onSubmit($event, form)">
  <h2 mat-dialog-title>Copy task content</h2>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-select placeholder="Please select target task" formControlName="targetListId">
        <mat-option *ngFor="let list of lists" [value]="list.id">{{list.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
    <button type="button" mat-button mat-dialog-close>Close</button>
  </div>  
</form>

