<div [formGroup]="form" class="age-input">
  <mat-form-field>
    <input type="text" matInput [matDatepicker]="birthPicker" formControlName="birthday" placeholder="Birthday">
    <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #birthPicker></mat-datepicker>      
    <mat-error>Incorrect birthday</mat-error>
  </mat-form-field>
  <ng-container formGroupName="age">
    <mat-form-field class="age-num">
      <input type="number" placeholder="Age" matInput formControlName="ageNum">
    </mat-form-field>
    <mat-button-toggle-group formControlName="ageUnit" [(ngModel)]="selectedUnit">
      <mat-button-toggle *ngFor="let unit of ageUnits" [value]="unit.value">
        {{unit.label}}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-error *ngIf="form.get('age').hasError('ageInvalid')">Age invalid</mat-error>    
  </ng-container>
</div>
