<mat-form-field>
  <mat-select placeholder="ID type" (change)="onIdTypeChange($event.value)" [(ngModel)]="identity.type">
    <mat-option *ngFor="let type of identityTypes" [value]="type.value">
      {{type.label}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="full-width identity-input">
  <input matInput type="text" placeholder="ID number" 
    (change)="onIdNumChange($event.target.value)"
    [(ngModel)]="identity.number">
    <mat-error>Invalid ID number</mat-error>
</mat-form-field>
